
  <div class="col-5 py-2 ">
    <div class="card text-bg-light">
      <div class="card-body">
        <h5 class="card-title"><%= movie.name %></h5>
        <%= link_to "Show this movie", movie, class: "btn btn-dark" %>
      </div>
    </div>
  </div>
