<p style="color: green"><%= notice %></p>

<div class="container">
  <h1>Movies</h1>
  <%= link_to "New movie", new_movie_path %>
  <div id="movies">
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
      <% @movies.each do |movie| %>
        <%= render movie %>
      <% end %>
    </div>
  </div>
</div>
